<app-header></app-header>
<main class="main content">
    <section class="favorites-sec">
        <h1>Favoritos</h1>
        @if (peliculas.length > 0) {
            <h2>Peliculas</h2>
            <article class="favorites-container">
                @for (peli of peliculas; track peli.id) {
                    <movie-card [data]="peli" [dimensiones]="{ancho: '200px', alto: '300px'}"></movie-card>
                }
            </article>
        }

        @if (series.length > 0) {
            <h2>Series</h2>
            <article class="favorites-container">
                @for (serie of series; track serie.id) {
                    <movie-card [data]="serie" [dimensiones]="{ancho: '200px', alto: '300px'}"></movie-card>
                }
            </article>
        }

        @if (personas.length > 0) {
            <h2>Actores</h2>
            <article class="favorites-container">
                @for (person of personas; track person.id) {
                    <person-card [data]="person" [dimensiones]="{ancho: '300px', alto: '400px'}"></person-card>
                }
            </article>
        }

        @if(personas.length == 0 && series.length == 0 && peliculas.length == 0){
            <p>No hay favoritos por el momento. Volver al <a routerLink="/">inicio.</a></p>
        }
    </section>
</main>
<app-footer></app-footer>