.main{
    padding: 1rem;
}
a{
    font-weight: bold;
    color: var(--mainColor);
}
.favorites-container{
    display: flex;
    gap: .5rem;
    overflow: auto;
}
.favorites-sec{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.favorites-sec h1{
    font-size: 2rem;
}
.favorites-sec h2{
    font-size: 1.5rem;
    margin-top: .5rem;
}